#NotFound {
  background: url("Images/architecture-background-blank-158771.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.mainHead {
  margin-top: 2em;
  margin-left: 17em;
}

.para {
  margin-left: 54em;
}

.contactNotFound {
  position: fixed;
  top: 0;
}
